extends ../layout

block content
	.movie-wrapper
		input(type="hidden" id="movie_id" value="#{movie._id}")
		if user
			input(type="hidden" id="user_id" value="#{user._id}")
		else
			input(type="hidden" id="user_id" value="")
		div.movie-player
			embed(src="#{movie.flash}" allowFullScreen="true")
		div.movie-detail
			dl
				dt 电影
				dd #{movie.name}
				dt 导演
				dd #{movie.doctor}
				dt 上映
				dd #{movie.year}
				dt 地区
				dd #{movie.country}
				dt 语言
				dd #{movie.language}
				dt 简介
				dd #{movie.summary}
	.comment-wrapper
		if comments.length
			div.comments
				ul
					each comment in comments
						li
							p #{comment.from.name}
							p #{comment.content}
		div.comment-form
			textarea(id="comment_input")
			a(href="javascript:void(0)" id="comment_submit") 提交评论
	script(type="text/javascript").
		$('#comment_submit').click(function() {
			var comment = $('#comment_input').val();
			var movieId = $('#movie_id').val();
			var userId = $('#user_id').val();
			$.ajax({
				type : "POST",
				url : "/comment/submit",
				dataType : "json",
				data : {
					comment : {
						content : comment,
						movie : movieId,
						from : userId
					}
				}
			})
			.done(function(data) {
				if(data.iRet == 0){

				}
			})
		});