extends ../layout

block content
	.movie-wrapper
		div.movie-player
			embed(src="#{movie.flash}" allowFullScreen="true")
		div.movie-detail
			dl
				dt 电影
				dd #{movie.name}
				dt 导演
				dd #{movie.doctor}
				dt 上映
				dd #{movie.year}
				dt 地区
				dd #{movie.country}
				dt 语言
				dd #{movie.language}
				dt 简介
				dd #{movie.summary}