extends ../layout

block content
	.movie-wrapper
		input(type="hidden" id="movie_id" value="#{movie._id}")
		if user
			input(type="hidden" id="user_id" value="#{user._id}")
		else
			input(type="hidden" id="user_id" value="")
		div.movie-player
			embed(src="#{movie.flash}" allowFullScreen="true")
		div.movie-detail
			dl
				dt 电影
				dd #{movie.name}
				dt 导演
				dd #{movie.doctor}
				dt 上映
				dd #{movie.year}
				dt 地区
				dd #{movie.country}
				dt 语言
				dd #{movie.language}
				dt 简介
				dd #{movie.summary}
	.wrapper-w1000
		.comment-wrapper
			.comments#comments
				each comment in comments
					div.comment-unit
						a(href="javascript:void(0)" data-to="#{comment._id}" class="btn-reply") 回复
						div.avatar
							if comment.user.avatar
								img(src="#{comment.user.avatar}")
							else
								img(src="/avatars/avatar-default-120.jpg")
						div.content
							p.comment-from #{comment.user.name}
							p.comment-detail #{comment.content}

		div.comment-form
			textarea(id="comment_input")
			a(href="javascript:void(0)" class="comment-submit" id="comment_submit") 发布
	script(type="text/javascript").
		$('#comment_submit').click(submitComment);
		//$('.btn-reply').click(setCommentConfig);
		$('#comments').delegate('.btn-reply', 'click', setCommentConfig);
		function setCommentConfig() {
			var target = $(this);
			var toId = target.attr('data-to');
			$('#comment_submit').attr('data-to', toId);
		}
		function submitComment() {
			var target = $(this);
			var toId = target.attr('data-to');
			var comment = $('#comment_input').val();
			var movieId = $('#movie_id').val();
			var userId = $('#user_id').val();
			$.ajax({
				type : "POST",
				url : "/comment/submit",
				dataType : "json",
				data : {
					comment : {
						content : comment,
						movie : movieId,
						user : userId,
						to : toId
					}
				}
			})
			.done(function(data) {
				if(data.iRet == 0){
					$('#comment_input').val('');
					var userAvatar = data.user.avatar;
					var content = data.oComment.content;
					var userName = data.user.name;
					var toId = data.oComment._id;
					var html = '<div class="comment-unit"><a href="javascript:void(0)" class="btn-reply" data-to="'+toId+'">回复</a><div class="avatar"><img src="'+userAvatar+'"></div><div class="content"><p class="comment-from">'+userName+'</p><p class="comment-detail">'+content+'</p></div></div>';
					$('#comments').append(html);
					if($('#comment_submit').attr('data-to')){
						$('#comment_submit').removeAttr('data-to')
					}
				}else{
					alert(data.sMsg);
				}
			})
		}