extends ../layout

block content
	.movie-wrapper
		input(type="hidden" id="movie_id" value="#{movie._id}")
		if user
			input(type="hidden" id="user_id" value="#{user._id}")
		else
			input(type="hidden" id="user_id" value="")
		div.movie-player
			embed(src="#{movie.flash}" allowFullScreen="true")
		div.movie-detail
			dl
				dt 电影
				dd #{movie.name}
				dt 导演
				dd #{movie.doctor}
				dt 上映
				dd #{movie.year}
				dt 地区
				dd #{movie.country}
				dt 语言
				dd #{movie.language}
				dt 简介
				dd #{movie.summary}
	.comment-wrapper
		
		div.comments#comments
			ul
				each comment in comments
					li.comment-unit
						div.avatar
							if comment.from.avatar
								img(src="#{user.avatar}")
							else
								img(src="/avatars/avatar-default-120.jpg")
						div.content
							p.comment-from #{comment.from.name}
							p.comment-detail #{comment.content}

		div.comment-form
			textarea(id="comment_input")
			a(href="javascript:void(0)" class="comment-submit" id="comment_submit") 发布
	script(type="text/javascript").
		$('#comment_submit').click(function() {
			var comment = $('#comment_input').val();
			var movieId = $('#movie_id').val();
			var userId = $('#user_id').val();
			$.ajax({
				type : "POST",
				url : "/comment/submit",
				dataType : "json",
				data : {
					comment : {
						content : comment,
						movie : movieId,
						from : userId
					}
				}
			})
			.done(function(data) {
				if(data.iRet == 0){
					$('#comment_input').val('');
					var avatar = data.oComment.avatar;
					var content = data.oComment.content;
					var from = data.from;
					console.log(avatar);
					console.log(content);
					console.log(from);
					var html = '<li class="comment-unit"><div class="avatar"><img src="'+avatar+'"></div><div class="content"><p class="comment-from">'+from+'</p><p class="comment-detail">'+content+'</p></div></li>';
					console.log(html);
					$('#comments>ul').append(html);
				}else{
					alert(data.sMsg);
				}

			})
		});