extends ../layout

block content
	.form-wrapper
		form(method="post" action="/admin/movie/new")
			p
				label(for="inputName") 电影名称
				input(type="text" id="inputName" name="movie[name]" value="#{movie.name}")
			p
				label(for="inputDoctor") 电影导演
				input(type="text" id="inputDoctor" name="movie[doctor]" value="#{movie.doctor}")
			p
				label(for="inputLanguage") 语言
				input(type="text" id="inputLanguage" name="movie[language]" value="#{movie.language}")
			p
				label(for="inputCountry") 国家
				input(type="text" id="inputCountry" name="movie[country]" value="#{movie.country}")
			p
				label(for="inputPoster") 海报地址
				input(type="text" id="inputPoster" name="movie[poster]" value="#{movie.poster}")
			p
				label(for="inputFlash") 影片地址
				input(type="text" id="inputFlash" name="movie[flash]" value="#{movie.flash}")
			p
				label(for="inputSummary") 影片摘要
				input(type="text" id="inputSummary" name="movie[summary]" value="#{movie.summary}")
			p
				label(for="inputYear") 影片年份
				input(type="text" id="inputYear" name="movie[year]" value="#{movie.year}")
			p
				input(type="submit" value="提交")